* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
}

header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  padding: 15px 0 0 25px;
  font-size: 2rem;
}

.logolink {
  text-decoration: none;
  color: white;
}

logolink:hover {
  color: black;
}

.navbar {
  list-style: none;
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-around;
}

.navbar .navlinks {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}

.title {
  font-size: 20px;
}

.post-container {
  width: 60%;
  height: 400px;
  border: 1px black solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px auto;
}

.like-dislike-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.like-btn,
.dislike-btn {
  display: inline;
  font-size: 18px;
  width: 48%;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
}

.content {
  height: 300px;
  padding: 10px 0 0 10px;
}


.comment_form {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-left: 10px;
}

.comment {
  width: 90%;
  height: 30px;
  padding-left: 5px;
  border-radius: 8px;
}

.send_comment {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}

.sendimg {
  background-color: transparent;
  width: 25px;
  height: 25px;
  margin-left: -4px;
  margin-bottom: -4px;
}

.postForm {
  /* display: none; */
  height: 300px;
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 20px;
  border: none;
  padding: 20px;
  z-index: 10;
  background-color: white;
  border-radius: 8px;
}

.title_inpt {
  height: 30px;
  padding: 8px;
  border-radius: 8px;
}
.create_Post {
  text-align: center;
  font-size: 22px;
  letter-spacing: 3px;
}

.post_contant {
  height: 90px;
  border-radius: 8px;
  padding: 8px;
  resize: none;
}