.greeting {
  text-align: center;
  padding: 150px 20px 25px;
  font-size: 1.5rem;
}

.post-container {
  background-color: var(--post-background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 60%;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.post-container .pc {
  position: relative;
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container .pc::before,
.post-container .pc::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border-top: 1px solid black;
}

.post-container .pc::before {
  top: 0;
}

.post-container .pc::after {
  bottom: 0;
}

.poster {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  color: var(--text-color);
}

.poster img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.poster span {
  position: absolute;
  top: 25%;
  left: 8%;
}

.like-dislike-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.like-btn,
.dislike-btn {
  font-size: 18px;
  width: 35px;
  padding-top: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 200ms ease-in-out;
}

.like-btn:hover {
  background-color: var(--like-hover);
}

.dislike-btn:hover {
  background-color: var(--dislike-hover);
}

.liked {
  background-color: var(--like-hover);
}

.disliked {
  background-color: var(--dislike-hover);
}

.UserName {
  margin-left: 15px;
  position: absolute;
  top: 25px;
}

.title {
  width: 100%;
  align-self: self-start;
  padding-left: 50px;
  word-wrap: break-word;
  font-size: 20px;
}

.content {
  width: 100%;
  height: auto;
  padding: 10px;
  word-wrap: break-word;
}

.see_comments {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  display: block;
}

.comment_form {
  width: 90%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}

.comment {
  flex: 1;
  height: 30px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.send_comment {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms ease-in-out;
}

.send_comment:hover {
  background-color: #6287d577;
}

.sendimg {
  background-color: transparent;
  width: 20px;
  height: 20px;
  z-index: 2;
}

.postForm {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid #ccc;
  z-index: 10;
  flex-direction: column;
  gap: 15px;
}

.show-postForm {
  background: none;
  border: none;
  position: fixed;
  top: 120px;
  right: 20px;
  cursor: pointer;
}

.lay-out {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.title_inpt {
  height: 30px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.create_Post {
  text-align: center;
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: bold;
}

.post_contant {
  height: 90px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .greeting {
    padding: 120px 20px 25px;
  }

  .postForm {
    width: 90%;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 10px;
  }

  .greeting {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 1.5rem;
  }

  .greeting {
    padding: 120px 10px;
    font-size: 1rem;
  }

  .post-container {
    width: 100%;
    max-width: 400px;
    min-width: 250px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .comment {
    height: 25px;
    font-size: 0.9rem;
  }

  .poster .UserName {
    left: 15%;
  }

  .like-btn,
  .dislike-btn {
    font-size: 16px;
    width: 50px;
  }
}
