<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <title>Home Page</title>
  </head>

  <body>
    {{template "navbar" .}} {{ if .Logdin }}
    <h1 class="greeting">Welcome, {{.UserName}}</h1>
    <div class="lay-out"></div>
    <button class="show-postForm"><img src="/css/add.png" /></button>
    <form class="postForm" action="/posts" method="post">
      <label class="create_Post" for="post">Create Post:</label>
      <input
        class="title_inpt"
        type="text"
        id="post"
        name="title"
        placeholder="Post Title"
        required
      />
      <textarea class="post_contant" name="content" id="content"></textarea>
      <input name="filename" type="file" />
      <div class="checkbox-container">
        <label class="checkbox-wrapper">
          <input type="checkbox" class="checkbox-input" />
          <span class="custom-checkbox">developpment</span>
        </label>

        <label class="checkbox-wrapper">
          <input type="checkbox" class="checkbox-input" />
          <span class="custom-checkbox"></span>
        </label>

        <label class="checkbox-wrapper">
          <input type="checkbox" class="checkbox-input" />
          <span class="custom-checkbox"></span>
        </label>
      </div>
      <button type="submit">Submit</button>
    </form>
    {{end}}
    <section id="posts-container"></section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.6/underscore-min.js"></script>

    <script src="/js/index.js"></script>
    <script src="/js/helpers.js"></script>
    <script src="/js/home.js"></script>
  </body>
</html>
