<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/log.css" />
  </head>

  <body>
    {{template "navbar" .}}
    <div class="formcontainer">
      <h1 class="head">Sign up</h1>
      <form class="logform" method="POST" action="/signup">
        <label class="lbl" for="email">Email:</label>
        <input class="imp" type="email" name="email" required /><br />
        <label class="lbl" for="username">Username:</label>
        <input class="imp" type="text" name="username" required /><br />
        <label class="lbl" for="password">Password:</label>
        <input class="imp" type="password" name="password" required /><br />
        <button class="submit" type="submit">Register</button>
      </form>
    </div>
  </body>
</html>
